[submodule "parity/lib/forge-std"]
	path = parity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "odos/lib/forge-std"]
	path = odos/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "odos/lib/openzeppelin-contracts"]
	path = odos/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "thedao/lib/forge-std"]
	path = thedao/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "bancor/lib/forge-std"]
	path = bancor/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "erc777/lib/forge-std"]
	path = erc777/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "AssociationNFT/lib/forge-std"]
	path = AssociationNFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "coinbase/lib/forge-std"]
	path = coinbase/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "paraswap/lib/forge-std"]
	path = paraswap/lib/forge-std
	url = https://github.com/foundry-rs/forge-std